# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# Firebase
.firebase/
firebase-debug.log

# Backend
backend/__pycache__/
backend/.env
backend/venv/
backend/env/
*.pyc
*.pyo
*.pyd

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?